@model IEnumerable<FirstPractice.Models.Employee>
@{
    ViewBag.Title = "新增員工";
}

@Html.AntiForgeryToken()

<h2>新增員工</h2>
<form method="post" action="~/Employee/Insert" class="form-horizontal">
    <div class="form-group">
        <label for="LastName" class="col-sm-2 control-label">LastName</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="LastName" />
        </div>
    </div>
    <div class="form-group">
        <label for="FirstName" class="col-sm-2 control-label">FirstName</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="FirstName" />
        </div>
    </div>
    @*<div class="form-group">
        <label for="BirthDate" class="col-sm-2 control-label">BirthDate</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" name="BirthDate" />
        </div>
    </div>
    <div class="form-group">
        <label for="HireDate" class="col-sm-2 control-label">HireDate</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" name="HireDate" />
        </div>
    </div>*@
    @*<div class="form-group">
        <label for="Tilte" class="col-sm-2 control-label">Tilte</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Tilte" />
        </div>
    </div>
    <div class="form-group">
        <label for="TitleOfCourtesy" class="col-sm-2 control-label">TitleOfCourtesy</label>
        <div class="col-sm-10">6
            <input type="text" class="form-control" name="TitleOfCourtesy" />
        </div>
    </div>
    <div class="form-group">
        <label for="Address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Address" />
        </div>
    </div>
    <div class="form-group">
        <label for="City" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="City" />
        </div>
    </div>
    <div class="form-group">
        <label for="PostalCode" class="col-sm-2 control-label">PostalCode</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="PostalCode" />
        </div>
    </div>
    <div class="form-group">
        <label for="Country" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Country" />
        </div>
    </div>
    <div class="form-group">
        <label for="HomePhone" class="col-sm-2 control-label">HomePhone</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="HomePhone" />
        </div>
    </div>
    <div class="form-group">
        <label for="Extension" class="col-sm-2 control-label">Extension</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Extension" />
        </div>
    </div>*@
    @*<div class="form-group">
        <label for="Photo" class="col-sm-2 control-label">Photo</label>
        <div class="col-sm-10">
            <input id="Photo" name="Photo" type="file" style="WIDTH: 488px; HEIGHT: 22px" runat="server">
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">
                新增
            </button>
        </div>
    </div>
</form>

